추가 필요한 내용
.median()<br>
최빈값.mode()<br>

# 꼭 고치면 좋은 것 (우선순위)
- 중복 개념 정리 (대표 문장 1개화)
- 사고 메모 vs 정리 문장 구분
- 코드 셀 역할 표시

# 굳이 지금 안 고쳐도 되는 것
- 문장 표현이 다듬어지지 않은 부분
- 설명이 조금 긴 부분
- 예시가 많은 부분

# 0) 데이터 전처리는 무엇인가 (큰 그림부터 잡기)

## 0.1) 데이터 분석 전체 흐름의 정확한 이해
데이터 분석은 보통 다음 순서로 진행된다.
1. 데이터 수집(파일/DB/API)
2. 전처리(정제, 형변환, 결측치, 이상치, 파생변수)
3. 탐색(EDA: 분포, 관계, 패턴, 가설)
4. 시각화(의사소통 + 패턴 확인)
5. 모델링(예측/분류/추천 등)
6. 결과 해석/의사결정

이 순서는 권장 사항이 아니라 필수 순서다.
- 전처리가 끝나지 않으면 그 이후 단계는 정상적으로 작동하지 않기 때문이다

## 0.2) 전처리는 "준비 단계"가 아닌 "전제 조건"이다
전처리는 데이터가 계산·비교·집계·시각화가 가능하도록 구조와 타입을 맞추는 작업이다.

### 전처리를 안 하면 발생하는 문제
1. 계산이 불가능해진다.
    - 숫자로 계산해야 할 값이 문자열이면 곱셈, 합계, 평균이 아예 동작하지 않는다.
2. 결과의 왜곡
    - 같은 의미의 값이 다른 값으로 인식되면, 집계 결과가 쪼개진다.
3. 시각화/모델 오류
    - 그래프가 안 그려지거나 모델 학습 단계에서 오류가 난다.

기억하자. 데이터 분석 시간의 절반 이상이 전처리다

## 0.3 전처리는 기술이 아니라 사고 과정
전처리는 단순히 astype, fillna, dropna 같은 함수를 외워서 쓰는 작업이 아니다. <br>
전처리의 출발점은 항상 "이 데이터로 어떤 질문에 답하려는가?" 이다.

같은 컬럼이여도
- 매출을 합계로 볼지
- 평균으로 볼지
- 날짜별 추이를 볼지

필요한 dtype, 결측치 처리 방식, 파생 피처가 전부 달라진다.

## 0.4 전처리 사고 순서 요약
전처리는 감으로 하지 않고, 항상 같은 질문 순서로 진행한다.

1. 구조확인
2. dtype 확인
3. 값의 정리 (Cleaning)
4. 분석 가능한 상태로 만들기

### 1. 구조 확인
이 데이터가 다음과 같은지 확인한다.
- 몇 행, 몇 열인지
- 어떤 컬럼들로 구성되어 있는지
- 테이블 형태가 맞는지

### 2. dtype 확인
각 컬럼이
- 숫자인지
- 문자열인지
- 날짜인지

를 확인한다.

이 단계에서 **“금 이 상태로 계산이 가능한가?**를 본다.

### 3. 값의 정리 (Cleaning)
dtype가 맞지 않거나, 값의 표기가 섞여 있거나, 결측치가 있으면 이 단계에서 정리한다.
- 문자열 정리
- 숫자 파싱
- 결측치 처리
- 범주값 통일

전처리의 대부분은 이 단계에서 발생한다.

### 4. 분석 가능한 상태로 만들기
마지막으로 
- 필요한 컬럼만 남기고 
- 파생 피처를 만들고
- 바로 groupby / 시각화가 가능한지 

를 점검한다.

이 상태가 되면 "이제 분석을 시작해도 되는 데이터"가 된다.

# 1. Pandas 데이터 구조 이해 (전처리의 재료)
이 장은 전처리에서 다루는 '대상'이 무엇인지를 명확히 하는 장이다.<br>
이후 나오는 모든 전처리 작업은 Series와 DataFrame을 정확히 구분하고 있다는 전제 위에서 진행된다.

## 1.1) DataFrame부터 정확히 정의하자
DataFrame은 행(row)과 열(column)로 구성된 **2차원 표 형태의** 데이터 구조다.<br>
- 한 행은 하나의 관측치(기록, 사건)
- 한 열은 하나의 변수(속성)

Pandas에서 분석·전처리·리포트의 기본 단위는 항상 DataFrame이다.<br>
전처리의 목표는 결국 "**분석 가능한 DataFrame을 만드는 것**"이다.

## 1.2) Series도 정의하자
Series는 하나의 컬럼을 표현하는 **1차원 데이터** 구조다.
- DataFrame의 각 열은 하나의 Series다
- dtype, 결측치, 문자열 처리 등은 대부분 Series 단위로 수행된다

즉,작업은 Series 단위로 결과는 DataFrame 형태로 유지하는 것이 전처리의 기본 패턴이다.

## 1.3) DataFrame vs Series 차이가 중요한 이유
DataFrame과 Series는 겉보기에는 비슷하지만 동작 방식과 사용 목적이 다르다.

이 차이를 이해하지 못하면
- 집계 결과가 예상과 다르게 나온다.
- 다음 단계 코드에서 오류가 발생한다.
- 집계·결합 단계에서 흐름이 끊긴다.

전처리에서 중요한 질문은 항상 이것이다.
> "지금 내가 다루고 있는 건 Series인가, DataFrame인가?"

### 코드로 확인해보자

In [39]:
import pandas as pd

df = pd.DataFrame({
    "date": ["2026-01-01", "2026-01-01", "2026-01-02", "2026-01-03"],
    "menu": ["Americano", "Latte", "Latte", "Mocha"],
    "price": [4500, 5000, None, 5500],
    "qty": [2, 1, 2, None],
    "paid": ["TRUE", "True", "FALSE", True],
})
s = df["paid"]

df

         date       menu   price  qty   paid
0  2026-01-01  Americano  4500.0  2.0   TRUE
1  2026-01-01      Latte  5000.0  1.0   True
2  2026-01-02      Latte     NaN  2.0  FALSE
3  2026-01-03      Mocha  5500.0  NaN   True

In [40]:
print("DataFrame 출력")
print(df)

print("\nDataFrame 타입 확인")
print(type(df))

print("\n====================\n")

print("Series 출력")
print(s)

print("\nSeries 타입 확인")
print(type(s))

DataFrame 출력
         date       menu   price  qty   paid
0  2026-01-01  Americano  4500.0  2.0   TRUE
1  2026-01-01      Latte  5000.0  1.0   True
2  2026-01-02      Latte     NaN  2.0  FALSE
3  2026-01-03      Mocha  5500.0  NaN   True

DataFrame 타입 확인
<class 'pandas.core.frame.DataFrame'>

====================

Series 출력
0     TRUE
1     True
2    FALSE
3     True
Name: paid, dtype: object

Series 타입 확인
<class 'pandas.core.series.Series'>

## 1.4) 대괄호 한 개 vs 두 개의 차이
컬럼 선택 시 대괄호의 개수는 반환 타입을 결정한다.
- 대괄호 한 개 → Series 반환
- 대괄호 두 개 → DataFrame 반환

아주 사조해 보이는 차이지만
- 집계
- 병합
- 컬럼 추가
- 후속 전처리 등등

에서는 아주 큰 차이를 만들어낸다.

In [41]:
print(df["paid"])

# 컬럼 하나 → Series
print(type(df["paid"]))

0     TRUE
1     True
2    FALSE
3     True
Name: paid, dtype: object
<class 'pandas.core.series.Series'>

In [42]:
print(df[["paid"]])

print(type(df[["paid"]]))

    paid
0   TRUE
1   True
2  FALSE
3   True
<class 'pandas.core.frame.DataFrame'>

표 값은 같으나 속성이 다르다.

## 1.5) 전처리가 Series 단위로 이루어지는 이유
전처리에서 다루는 문제는 대부분 **컬럼 하나의 문제**다.
- 숫자인데 문자열이다
- 날짜인데 datetime이 아니다
- 결측치가 섞여 있다

이 문제들은 행 단위 문제가 아니라 Series 단위 문제다.<br>
그래서 실제 변환은 Series에서 수행하고 최종 결과는 DataFrame으로 관리한다<br>
이 구조를 이해하면 전처리 코드의 흐름이 훨씬 자연스러워진다.

# 2. 데이터 구조 빠른 점검 루틴 (EDA 최소 세트)
이 장은 본격적으로 데이터를 다루기 전엔 반드시 해야하는 점검을 다룬다. <br>
전처리는 절대적으로 감으로 시작하지 않는다. 항상 구조를 먼저 파악하고 시작하자

## 2.1) 데이터 전처리 전에 반드시 해야 하는 것
전처리를 시작하기 전에 반드시 한 번은 전체 데이터를 훑어봐야 한다. <br>
확인해야 할 핵심 정보는 딱 세 가지다.
1. 데이터의 크기 (행 수, 열 수)
2. 각 컬럼의 자료형(dtype)
3. 결측치가 존재하는지 여부

이 세 가지만 알아도:
- 계산이 가능한 컬럼인지
- 문자열 정제가 필요한지
- 결측치 처리가 필요한지

이 세 가지만 확인해도 전처리 방향의 절반은 결정된다 할수 있다.

In [43]:
import pandas as pd

df = pd.DataFrame({
    "date": ["2026-01-01", "2026-01-01", "2026-01-02", "2026-01-03"],
    "menu": ["Americano", "Latte", "Latte", "Mocha"],
    "price": [4500, 5000, None, 5500],
    "qty": [2, 1, 2, None],
    "paid": ["TRUE", "True", "FALSE", True],
})

### 코드 설명
```python
데이터프레임.info()

데이터프레임.shape

데이터프레임.dtypes

```

1. info(): 행 수, 컬럼 수, dtype, 결측치 여부를 한 번에 보여준다.
2. shape: 데이터 규모를 빠르게 파악한다. 만약 열 개수가 1이면 Series일 가능성도 의심해볼 수 있다.
3. dtypes: 각 컬럼의 자료형을 개별적으로 확인한다. "이 컬럼, 계산해도 되나?"를 판단하는 기준이다.

In [44]:
print("데이터 프레임의 종합 정보 확인 (행 수, 컬럼 수, dtype, 결측치)")
df.info()

print("\n\n데이터 프레임의 규모 확인 (행, 열)")
print(df.shape)

print("\n\n컬럼별 dtype 확인")
print(df.dtypes)

데이터 프레임의 종합 정보 확인 (행 수, 컬럼 수, dtype, 결측치)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    4 non-null      object
 1   menu    4 non-null      object
 2   price   3 non-null      float64
 3   qty     3 non-null      float64
 4   paid    4 non-null      object
dtypes: float64(2), object(3)
memory usage: 288.0+ bytes


데이터 프레임의 규모 확인 (행, 열)
(4, 5)


컬럼별 dtype 확인
date      object
menu      object
price    float64
qty      float64
paid      object
dtype: object

## 2.2) 필요에 따라 해야 하는 것
항상 볼 필요는 없지만, 문제가 생기면 가장 먼저 확인해야 하는 정보들이다.

- 인덱스를 기준으로 병합, 정렬, 필터링을 할 때
- 컬럼명이 예상과 다를 때
- 컬럼 선택 오류가 발생했을 때

즉, 문제가 발생했을 때 원인을 찾기 위한 확인 요소에 가깝다.

### 코드설명
```python
df.index
df.columns # (Series일경우 df.column 사용한다.)
```
1. columns: 컬럼 이름만 빠르게 확인할 때 사용한다.
    - 컬럼명에 공백이 있는지
    - 대소문자가 섞여 있는지
    - 이름이 예상과 다른지

2. index: 행의 기준이 되는 인덱스를 확인한다. (혹은 의미있는 키)
    - 단순 번호인지
    - 의미 있는 키(날짜, ID 등)인지

In [45]:
print("\n데이터 프레임의 인덱스 확인")
print(df.index)

print("\n데이터 프레임의 컬럼 목록 확인")
print(df.columns)

데이터 프레임의 인덱스 확인
RangeIndex(start=0, stop=4, step=1)

데이터 프레임의 컬럼 목록 확인
Index(['date', 'menu', 'price', 'qty', 'paid'], dtype='object')

## 2.3) 값 분포를 빠르게 훑어보는 도구
이 단계는 구조를 보는 단계와 다르다. <br>
데이터 안에 실제로 어떤 값들이 들어 있는지, 그리고 그 분포가 정상적인지 빠르게 확인하는 용도다.

> 이 단계는 본격적인 시각화 이전에 데이터 감을 잡기 위한 최소 탐색 단계다.

### 코드설명
```python
df.describe()
df.value_counts() 
```
1. describe(): 숫자형 컬럼의 범위, 평균, 이상치를 빠르게 확인한다
2. value_counts(): 범주형 컬럼의 값 종류와 개수를 확인한다

In [46]:
print("\n숫자형 컬럼의 범위, 평균, 이상치")
print(df.describe())

print("\n범주형 컬럼의 값 종류와 개수를")
print(df.value_counts())

숫자형 컬럼의 범위, 평균, 이상치
        price       qty
count     3.0  3.000000
mean   5000.0  1.666667
std     500.0  0.577350
min    4500.0  1.000000
25%    4750.0  1.500000
50%    5000.0  2.000000
75%    5250.0  2.000000
max    5500.0  2.000000

범주형 컬럼의 값 종류와 개수를
date        menu       price   qty  paid
2026-01-01  Americano  4500.0  2.0  TRUE    1
            Latte      5000.0  1.0  True    1
Name: count, dtype: int64

## 2.4) 이 단계가 EDA라고 불리는 이유 (탐색적 데이터 분석)
EDA(Exploratory Data Analysis)는 그래프를 그리는 것부터 시작하지 않는다.

EDA의 시작은 항상 다음 구조로 구성된다.
- 구조 확인
- dtype 확인
- 결측 확인

이 과정을 통해 우리는 다음을 탐색한다.
- 데이터가 어떤 형태인지
- 어떤 문제가 숨어 있는지
- 전처리를 어디부터 해야 할지

그래서 이 구조 점검 단계는 EDA의 가장 기초이자 필수 단계라 할수있다.

## 2.5) 지금 이 데이터, 분석 가능한 상태인가? 판단 기준
구조 점검의 최종 목적은 **다음 단계로 넘어가도 되는지 판단하는 것이다.**<br>
아래 조건을 대부분 만족하면 분석을 시작할 수 있는 상태라고 본다.
- 계산할 컬럼이 숫자형인가?
- 날짜 컬럼이 datetime인가?
- 결측치는 이유를 설명할 수 있는가?
- 문자열 값의 표기가 통일되어 있는가?
- 분석에 필요 없는 컬럼이 섞여 있지 않은가?

이 조건이 만족되지 않으면 본 분석 전에 전처리가 필요하다.

# 3. dtype(자료형): 전처리의 핵심 엔진

이 장은 전처리에서 가장 중요한 판단 기준인 dtype를 다룬다. <br>
dtype는 단순한 자료형 정보가 아닌 "이 컬럼을 계산·비교·분석할 수 있는가"를 결정하는 규칙이다.

## 3.1 dtype가 중요한 이유
dtype는 Pandas가 각 컬럼을 어떻게 해석하고 처리할지 결정하는 기준이다.

같은 값이라도 dtype가 다르면:
- 계산 결과가 달라지고
- 정렬 결과가 달라지고
- 필터링 결과가 달라진다

즉, dtype는 전처리의 출발점이자 분석 가능성을 결정하는 엔진이다.

### 민약 dtype가 틀리다면?
dtype가 틀린 상태에서는 겉보기에는 멀쩡해 보여도 분석이 정상적으로 작동하지 않는다.

1. 분명 보이는건 숫자인데 문자열이여서 계산이 안 된다
2. 날짜인데 문자열이여서 날짜 연산이 안 된다
3. True/False인데 필터가 이상하다

이런 문제들은 에러를 내지 않고 조용히 잘못된 결과를 만든다.

### 만약 dtype가 맞다면?
전처리에서 중요한 건 "원본 dtype"이 아닌 "**분석 가능한 dtype**" 이다.
- 가격, 수량 → 숫자형 (int / float)
- 날짜 → datetime
- 상태값 → bool 또는 범주형

dtype가 맞아야 그 다음 단계인 집계, 정렬, 필터링, 시각화가 의도한 대로 이어진다.<br>
때문에 항상 질문하는 습관을 가지자

## 3.2 dtype 변환의 두 가지 방식
dtype 변환에는 두 가지 방식이 있다.<br>
이 둘은 목적과 성격이 다르다.

In [47]:
# 예시 코드
import pandas as pd

df = pd.DataFrame({
    "date": ["2026-01-01", "2026/01/02", "2026-01-03"],
    "menu": ["Americano", "Latte", "Mocha"],
    "price": ["4500원", "5,000", None],
    "qty": ["2", 1, None],
    "paid": ["TRUE", "FALSE", True]
})

print("원본 DataFrame")
print(df)

print("\nDataFrame 정보")
print(df.info())

원본 DataFrame
         date       menu  price   qty   paid
0  2026-01-01  Americano  4500원     2   TRUE
1  2026/01/02      Latte  5,000     1  FALSE
2  2026-01-03      Mocha   None  None   True

DataFrame 정보
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3 non-null      object
 1   menu    3 non-null      object
 2   price   2 non-null      object
 3   qty     2 non-null      object
 4   paid    3 non-null      object
dtypes: object(5)
memory usage: 248.0+ bytes
None

### 1. astype() — 강제 변환
astype는 값의 의미를 해석하지 않고, 형태만 강제로 바꾼다.

- 이미 값이 깔끔할 때 사용한다
    - 문자열이지만 실제로는 전부 숫자일 때
    - True / False 값이 일관되게 들어 있을 때
- 실패하면 에러가 발생하거나 값이 깨질 수 있다
> 즉, "이 값은 이미 이 타입이 맞다"는 확신이 있을 때만 쓴다.

기본형태
``` python
컬럼.astype("string")
```
int, float, bool 도 가능

In [48]:
print("qty 컬럼을 astype(int)로 강제 변환 시도")
#df["qty"].astype(int)
print("실패하는 이유: 결측값이 존재하기 때문")

print("\nprice 컬럼을 astype(int)로 강제 변환 시도")
#df["price"].astype(int)
print("실패하는 이유: ""4500원"", ""5,000"" → 숫자로 해석 불가")

print("\nprice 컬럼을 astype(string)로 강제 변환 시도")
df["paid"] = (
    df["paid"]
    .astype("string")
    .str.upper() # Series에 문자열 전용 메소드를 쓰겠다는 접근자
    .map({"TRUE": True, "FALSE": False}) # 의미 → 값 매핑
)
df["paid"]

qty 컬럼을 astype(int)로 강제 변환 시도
실패하는 이유: 결측값이 존재하기 때문

price 컬럼을 astype(int)로 강제 변환 시도
실패하는 이유: 4500원, 5,000 → 숫자로 해석 불가

price 컬럼을 astype(string)로 강제 변환 시도

0     True
1    False
2     True
Name: paid, dtype: bool

### 2. 파싱 변환 — 해석해서 바꾸는 방식
파싱 변환은 문자열 안의 내용을 해석해서 적절한 dtype로 바꾼다. <br>
이 방식은:
- 단위가 섞여 있거나
- 공백, 쉼표, 문자가 포함되어 있거나
- 일부 값이 깨져 있을 때

가장 안전하다.

#### to_datetime 문장 예시
``` python
# to_datetime
pd.to_datetime(컬럼, errors="coerce")
```
날짜 문자열을 datetime으로 해석 <br>
날짜처럼 보이는 값으로 월별, 요일별, 기간 분석을 하고 싶을 때 사용된다.

In [49]:
print("date 컬럼을 datetime으로 파싱 변환")
df["date"] = pd.to_datetime(df["date"], errors="coerce")
print(df["date"])

date 컬럼을 datetime으로 파싱 변환
0   2026-01-01
1          NaT
2   2026-01-03
Name: date, dtype: datetime64[ns]

#### to_numeric 문장 예시
```python
# to_numeric
pd.to_numeric(컬럼, errors="coerce")
```
숫자로 해석 가능한 값만 숫자로 변환 (전처리에서 가장 많이 씀) <br>
이 컬럼은 숫자처럼 보이지만 실제로는 문자열일 때 사용된다.

In [50]:
print("qty 컬럼을 to_numeric으로 파싱 변환")
df["qty"] = pd.to_numeric(df["qty"], errors="coerce")
print(df["qty"])

qty 컬럼을 to_numeric으로 파싱 변환
0    2.0
1    1.0
2    NaN
Name: qty, dtype: float64

In [ ]:
pint("price 컬럼 문자열 정리")
df["price"] = (
    df["price"]
    .astype("string")
    .str.replace(",", "", regex=False)
    .str.replace("원", "", regex=False)
)
df["price"] = pd.to_numreric(df["price"], errors="coerce")
print(df["price"])

price 컬럼 문자열 정리
0    4500
1    5000
2    <NA>
Name: price, dtype: Int64

## 3.3) 변환 실패를 처리하는 errors 옵션
dtype 변환에서는 항상 변환에 실패하는 값이 생길 수 있다. <br>
이를 어떻게 처리할지 정하는 것이 errors 옵션이다.

이 옵션의 핵심 의미는 "문제를 숨기는 것"이 아닌 문제를 눈에 보이게 만드는 점이다.
- 어디서 변환이 실패했는지 확인할 수 있다
- 이후 결측치 처리 전략으로 이어질 수 있다

### (1) errors="raise"
실패하면 즉시 중단
```python
pd.to_numeric(컬럼, errors="raise")
pd.to_datetime(컬럼, errors="raise")
```
변환에 실패하는 값이 하나라도 있으면 에러를 발생시키고 작업을 중단한다
- 데이터 검증 단계에는 유용
- 실무 전처리에는 거의 쓰이지 않음

### (2) errors="coerce"
실패하면 결측치로 바꾸고 계속 진행
```python
pd.to_numeric(컬럼, errors="coerce")
pd.to_datetime(컬럼, errors="coerce")
```
- 변환이 안 되는 값은 문제가 있는 데이터로 표시하고 일단 분석 흐름을 유지한다
    - 숫자 변환 실패 → NaN
    - 날짜 변환 실패 → NaT

문제가 되는 값은 바로 볼수 있기 때문에 다음 단계에서 의도적으로 처리한다.

In [52]:
print("qty의 결측값 확인")
print(df["qty"])

print("\ndate의 결측값 확인")
print(df["date"])

print("\nprice의 결측값 확인")
print(df["price"])

qty의 결측값 확인
0    2.0
1    1.0
2    NaN
Name: qty, dtype: float64

date의 결측값 확인
0   2026-01-01
1          NaT
2   2026-01-03
Name: date, dtype: datetime64[ns]

price의 결측값 확인
0    4500
1    5000
2    <NA>
Name: price, dtype: Int64

## 3.4) dtype 변환 후 반드시 다시 확인해야 하는 이유
dtype 변환은 한 번 실행했다고 끝이 아니다.. <br>
변환 이후에는 반드시 다시 dtypes 또는 info()를 해 의도대로 바뀌었는지 확인해야 한다.
- 의도한 dtype으로 바뀌었는지
- 의도하지 않은 결측값이 새로 생겼는지
- 예상과 다른 타입이 섞이지 않았는지

를 확인하지 않으면 전처리는 "한 것처럼 보이기만 한 상태"가 된다.<br>
기억하자. 우리는 전처리를 하고 있는것이다.

In [53]:
print("바뀐 데이터프레임의 정보")
df.info()

바뀐 데이터프레임의 정보
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    2 non-null      datetime64[ns]
 1   menu    3 non-null      object
 2   price   2 non-null      Int64
 3   qty     2 non-null      float64
 4   paid    3 non-null      bool
dtypes: Int64(1), bool(1), datetime64[ns](1), float64(1), object(1)
memory usage: 230.0+ bytes

dtype 변환으로 qty, date, price, paid 4개의 데이터를 바꾸었으니 해당 컬럼의 타입을 확인하자.
- date → datetime64
- price, qty → float64 (결측치가 있으면 int가 아니라 float로 보이는 것이 정상)
- paid → bool

의도한대로 잘 바뀌었다고 볼수 있으나, 아직 처리해야할 문제<br>
**결측치**가 남아있다

# 4. 결측치(Missing Value) 처리의 논리
이 장은 전처리에서 반드시 마주치게 되는 결측치를 어떻게 이해하고 다룰지를 정리한다. <br>
결측치는 오류가 아니라, 현실 데이터가 가진 상태 중 하나다.

## 4.1) 결측치란 무엇인가?
결측치란 **값이 비어 있거나, 알 수 없는 상태**를 의미한다.
- 숫자형 결측 → NaN
- 날짜형 결측 → NaT
- 문자열/기타 → NA 또는 NaN

가 대표적인 예시이다

기억하자
- 결측치는 "이상한 데이터"가 아니라 현실 데이터를 그대로 반영한 상태다.

## 4.2) 결측치가 생기는 이유
결측치는 실수로만 생기지 않는다. 대부분 데이터가 만들어지는 과정의 결과다.

1. 입력의 누락
    - 사람이 값을 입력하지 않음
2. 수집 오류
    - 시스템, 센서, 로그 문제
3. 변환 실패
    - dtype 변환 중 해석 불가 값
    - errors="coerce" 사용 결과
4. 결합(merge) 실패
    - 다른 테이블과 매칭되지 않음
5. 원래 존재하지 않는 값
    - 옵션 미선택, 해당 항목 없음

결측치는 실수라기보다 데이터 생성 과정의 수많은 결과중 하나다.<br>
"왜 없을까?"를 생각해야 하는 대상이지 무조건 제거해야 할 대상은 아니다.

## 4.3) 결측치 처리의 기본 흐름
결측치 처리는 반드시 아래의 순서를 따라야 한다.
1. 결측치가 있는지 확인한다
2. 왜 생겼을지 추측한다
3. 분석 목적에 맞게 처리 전략을 고른다

이 순서를 건너뛰면 결과는 숫자로는 맞아 보여도 해석이 틀어질 가능성이 커진다.

In [54]:
df2=df.copy() # 기존 데이터프레임을 가져온다

print("바뀐 데이터프레임")
df2

바뀐 데이터프레임

        date       menu  price  qty   paid
0 2026-01-01  Americano   4500  2.0   True
1        NaT      Latte   5000  1.0  False
2 2026-01-03      Mocha   <NA>  NaN   True

## 4.4) 결측치의 확인
결측치 확인은 전처리의 기본 점검 단계다.
- 어디에 결측치가 있는지
- 얼마나 있는지

이 단계에서는 아직 처리하지 않고, 현상만 정확히 파악하는 단계다.

대표적인 결측치 확인 함수
- isna(): 각 값이 결측치(NaN, NaT, None)인지 여부를 True / False로 반환하는 함수다.

In [55]:
print("date 컬럼 결측치 확인")
print(df["date"].isna())

print("\nprice 컬럼 결측치 확인")
print(df["price"].isna())

print("\nqty 컬럼 결측치 확인")
print(df["qty"].isna())

date 컬럼 결측치 확인
0    False
1     True
2    False
Name: date, dtype: bool

price 컬럼 결측치 확인
0    False
1    False
2     True
Name: price, dtype: bool

qty 컬럼 결측치 확인
0    False
1    False
2     True
Name: qty, dtype: bool

In [56]:
# tip notna()는 isna의 반대. 결측값이 아닌 값을 표현한다.
print("date 컬럼 결측치 확인(반전)")
print(df["date"].notna())

# tip isna().sum()을 통해 결측값의 갯수를 샐수도 있다.
print("\n컬럼별 결측치 확인")
print(df.isna().sum())

date 컬럼 결측치 확인(반전)
0     True
1    False
2     True
Name: date, dtype: bool

컬럼별 결측치 확인
date     1
menu     0
price    1
qty      1
paid     0
dtype: int64

In [57]:
# .any()를 사용해 결측치 존재여부만 빠르게 확인 가능하다.
print("date 컬럼에 결측치가 있는가?")
print(df["date"].isna().any())

print("\nprice 컬럼에 결측치가 있는가?")
print(df["price"].isna().any())

print("\nqty 컬럼 결측치 확인")
print(df["qty"].isna().any())

print("\nmenu 컬럼 결측치 확인")
print(df["menu"].isna().any())

date 컬럼에 결측치가 있는가?
True

price 컬럼에 결측치가 있는가?
True

qty 컬럼 결측치 확인
True

menu 컬럼 결측치 확인
False

## 4.5) 결측치 처리 전략 3가지
결측치 처리에는 대표적으로 세 가지 선택지가 있다. <br>
중요한 것은 **정답은 없고, 목적만 있다**는 점이다.

### 1. 삭제 (drop)
```python
df_drop = df.dropna()

```
결측치가 포함된 행이나 컬럼을 아예 제거하는 방식이다.<br>
다음과 같은 상황에 사용하긴 하나 되도록 자제하도록 하자
- 결측치 비율이 매우 낮고
- 해당 데이터가 분석에 중요하지 않을 때

사용한다.

특징
- 장점: 단순, 해석이 깔끔
- 단점: 데이터가 줄어들어 분석력이 떨어질 수 있음

가장 쉬운 방법이지만, 무조건적인 삭제는 정보 손실로 이어질 수 있기 때문에 신중하게 사용해야 한다.

In [58]:
print("결측치가 있는 행 삭제")
df_drop = df2.dropna()

print(df_drop)

결측치가 있는 행 삭제
        date       menu  price  qty  paid
0 2026-01-01  Americano   4500  2.0  True

### 2. 대체 (fill)
```python
df_fill = df.copy()

```
결측치를 의미 있는 값으로 채우는 방식이다.
- 데이터 양을 유지하고 싶을 때
- "비어 있음"이 어느 정도 의미를 가질 때

<br>

채워 넣는 값은 다양하지만, 대표적으로 다음과 같다.
- 평균, 중앙값, 최빈값
- 0, False, “Unknown”

하지만 항상 질문해야 한다.
> 이 값이 0이라는 게 의미적으로 맞는가?

의미 없이 채운 값은 분석 결과를 왜곡한다.

In [59]:
df_fill = df.copy()

print("price 결측치를 0으로 대체")
df_fill["price"] = df_fill["price"].fillna(0)
print(df_fill)

print("\ndate 결측치를 특정 날짜로 대체")
df_fill["date"] = df_fill["date"].fillna(pd.Timestamp("2026-01-01"))
print(df_fill)

price 결측치를 0으로 대체
        date       menu  price  qty   paid
0 2026-01-01  Americano   4500  2.0   True
1        NaT      Latte   5000  1.0  False
2 2026-01-03      Mocha      0  NaN   True

date 결측치를 특정 날짜로 대체
        date       menu  price  qty   paid
0 2026-01-01  Americano   4500  2.0   True
1 2026-01-01      Latte   5000  1.0  False
2 2026-01-03      Mocha      0  NaN   True

In [60]:
print("컬럼별 결측치 확인")
print(df_fill.isna().sum())

컬럼별 결측치 확인
date     0
menu     0
price    0
qty      1
paid     0
dtype: int64

결측값을 fillna로 다른값으로 채운 price, date는 0인것을 확인할수 있다. 

다시한번 기억해야할것은 결측값은 신중하게 다뤄야 한다.<br>
자칫 잘못 다루면 오히려 결측값이 있을때 보다 못할수도 있다.

### 3. 추정 (개념만 이해)
다른 값들을 이용해 결측치를 추정하는 방식이다.
- 모델 기반 추정
- 주변 값 기반 추정

초심자 단계에서는 개념만 이해하고 넘어간다. <br>
실무에서도 항상 필요한 방법은 아니다.

# 5. 값 정제(Cleaning)의 대표 패턴
이 장은 본격적인 데이터 전처리. 데이터의 "값 자체"를 분석 가능한 상태로 만드는 단계다. <br>
dtype와 결측치 처리가 끝났다면, 이제 남은 문제는 값의 표기와 일관성이다.

이장의 목표는 간단하다.
> 같은 의미의 값은 항상 같은 형태로 존재하게 만든다.

In [61]:
import pandas as pd

df = pd.DataFrame({
    " Date ": ["2026-01-01", "2026-01-01", "2026-01-02", None,        "2026-01-02"],
    " Menu ": [" Latte ",   " latte",      "Americano ", "Mocha",     "Americano "],
    " Price ": ["5,000원",   "5,000원",     None,         "5,500원",   None],
    " Qty ":   [1,           1,            2,            None,        2],
    "   Paid": ["TRUE", "false", True, None, "1"],
    " memo ":  ["test",      "test",       "dup",        "x",         "dup"]
})

df

        Date        Menu   Price   Qty    Paid memo
0  2026-01-01      Latte   5,000원   1.0   TRUE  test
1  2026-01-01       latte  5,000원   1.0  false  test
2  2026-01-02  Americano     None   2.0   True   dup
3        None       Mocha  5,500원   NaN   None     x
4  2026-01-02  Americano     None   2.0      1   dup

## 5.1) 컬럼 구조 정리 (rename / drop)
값을 보기 전에 먼저 컬럼 구조부터 안정화해야 한다.

컬럼 정리의 목적
- 컬럼 이름이 한눈에 이해되도록
- 불필요한 컬럼을 제거해서 혼란을 줄이기
- 이후 코드 가독성을 높이기

이 단계에서는 주로 다음 작업을 한다.
- 컬럼명 공백 제거
- 대소문자 통일
- 의미가 모호한 이름 변경
- 분석에 필요 없는 컬럼 제거

In [ ]:
print("=== 컬럼명 표준화 전 ===")
print(df.columns)

# 컬럼명 공백 제거 + 소문자 통일: " Date " -> "date"
df.columns = df.columns.str.strip().str.lower()
# str 문자열 접근자
# strip() 값의 공백 제거(양옆)
# lower() 소문자로 변환

print("\n=== 컬럼명 표준화 후 ===")
print(df.columns)

=== 컬럼명 표준화 전 ===
Index([' Date ', ' Menu ', ' Price ', ' Qty ', '   Paid', ' memo '], dtype='object')

=== 컬럼명 표준화 후 ===
Index(['date', 'menu', 'price', 'qty', 'paid', 'memo'], dtype='object')

In [63]:
# 컬럼명 바꾸기: 의미가 더 명확한 이름으로
df = df.rename(columns={"menu": "menu_name"})
print(df.columns)

Index(['date', 'menu_name', 'price', 'qty', 'paid', 'memo'], dtype='object')

In [64]:
# 필요 없는 컬럼 제거: 분석에 안 쓰는 메모 컬럼 같은 것
df = df.drop(columns=["memo"])

print("=== 컬럼 정리 후 df ===")
print(df)
print("\n=== df.info() ===")
df.info()

=== 컬럼 정리 후 df ===
         date   menu_name   price  qty   paid
0  2026-01-01      Latte   5,000원  1.0   TRUE
1  2026-01-01       latte  5,000원  1.0  false
2  2026-01-02  Americano     None  2.0   True
3        None       Mocha  5,500원  NaN   None
4  2026-01-02  Americano     None  2.0      1

=== df.info() ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       4 non-null      object
 1   menu_name  5 non-null      object
 2   price      3 non-null      object
 3   qty        4 non-null      float64
 4   paid       4 non-null      object
dtypes: float64(1), object(4)
memory usage: 328.0+ bytes

In [65]:
# 최종 정리
df

         date   menu_name   price  qty   paid
0  2026-01-01      Latte   5,000원  1.0   TRUE
1  2026-01-01       latte  5,000원  1.0  false
2  2026-01-02  Americano     None  2.0   True
3        None       Mocha  5,500원  NaN   None
4  2026-01-02  Americano     None  2.0      1

## 5.2) 문자열 정제 기본 4종 (공백 / 대소문자 / 불필요 문자 / 값 치환)
문자열 문제의 본질은 하나다. 같은 의미인데 표기가 다르다.

문자열 정제는 대부분 아래 4개의 문제들 중 하나다.
1. 공백 문제
2. 대소문자 문제
3. 불필요 문자
4. 값 치환 (다음에)

문자열 문제의 핵심은 "표기 흔들림"을 없애는 것이다.<br>
같은 값인데 다르게 저장되어 있으면 그룹핑/필터링/조인이 전부 깨진다.

### 공백 문제
### 대소문자 문제

In [66]:
print("=== menu_name 정제 ===")
df["menu_clean"] = (
    df["menu_name"]
    .astype("string")
    .str.strip() # 공백제거
    .str.lower() # 소문자 통일
)

df[["menu_name", "menu_clean"]]

=== menu_name 정제 ===

    menu_name menu_clean
0      Latte       latte
1       latte      latte
2  Americano   americano
3       Mocha      mocha
4  Americano   americano

### 공백 문제
### 불필요 문자
- 공백 제거
- 쉼표 제거
- 단위 제거(원)

만 수행. 값 치환과 결측값은 다음에 수행한다.

In [67]:
print("\n=== price 문자열 정제 ===")
df["price_clean"] = (
    df["price"]
    .astype("string")                   # 숫자형을 문자열로 강제 변환
    .str.strip() # 공백제거
    .str.replace(",", "", regex=False) # 치환, 쉼표를 없앰
    .str.replace("원", "", regex=False) # 치환, 원을 없앰
    
)

df[["price", "price_clean"]]

=== price 문자열 정제 ===

    price price_clean
0  5,000원        5000
1  5,000원        5000
2    None        <NA>
3  5,500원        5500
4    None        <NA>

## 5.3) 문자열 → 숫자 변환 표준 패턴 (to_numeric)
숫자 계산이 목적이라면 문자열 상태는 반드시 끝내야 한다.<br>
문자열 → 숫자 변환은 항상 같은 순서로 진행한다.
1. 문자열로 통일
2. 불필요한 문자 제거 (문자열 정제로 여기까지 수행)
3. 숫자로 파싱 (to_numeric)
4. 실패 값은 결측으로 표시

In [68]:
print("=== price 숫자 파싱 ===")
df["price_clean"] = pd.to_numeric(df["price_clean"], errors="coerce")
print(df[["price", "price_clean"]])

print("\n=== price 결측치 개수 ===")
print(df["price_clean"].isna().sum())

=== price 숫자 파싱 ===
    price  price_clean
0  5,000원         5000
1  5,000원         5000
2    None         <NA>
3  5,500원         5500
4    None         <NA>

=== price 결측치 개수 ===
2

In [70]:
print("\n=== qty 숫자 파싱(안전 변환) ===")
df["qty_clean"] = pd.to_numeric(df["qty"], errors="coerce")

print(df[["qty", "qty_clean"]])
print("\n=== qty 결측치 개수 ===")
print(df["qty_clean"].isna().sum())

=== qty 숫자 파싱(안전 변환) ===
   qty  qty_clean
0  1.0        1.0
1  1.0        1.0
2  2.0        2.0
3  NaN        NaN
4  2.0        2.0

=== qty 결측치 개수 ===
1

### 결측 처리 전략 선택 (연습용: 0으로 대체)
연습에서는 0으로 채웠지만 실무에서는 "0이 의미 있는 값인가?"를 반드시 질문해야 한다.

In [72]:
print("\n=== 결측치 대체(연습용) ===")
df_fill = df.copy()
df_fill["price_clean"] = df_fill["price_clean"].fillna(0)
df_fill["qty_clean"]   = df_fill["qty_clean"].fillna(0)

df_fill[["price", "price_clean", "qty", "qty_clean"]]

=== 결측치 대체(연습용) ===

    price  price_clean  qty  qty_clean
0  5,000원         5000  1.0        1.0
1  5,000원         5000  1.0        1.0
2    None            0  2.0        2.0
3  5,500원         5500  NaN        0.0
4    None            0  2.0        2.0

## 5.4) 범주값 통일 패턴 (TRUE / True / false 문제)
범주형 데이터는 표기가 다르면 완전히 다른 값으로 인식된다. <br>
이 문제를 방치하게 되면
- 그룹화 결과가 쪼개진다.
- 집계 값이 왜곡된다.

범주값 통일의 기본 흐름은 다음과 같다.
1. 문자열 기준으로 통일한다
2. 공백과 대소문자를 정리한다
3. 의미 기준으로 하나의 값으로 매핑한다
4. 매핑되지 않은 값은 따로 확인한다

### 문자열로 통일
### 공백/대소문자 차이를 제거

In [74]:
print("=== paid 문자열 통일(정리 전) ===")
print(df_fill["paid"])

paid_norm = (
    df_fill["paid"]
    .astype("string")   # 문자열 기준으로 통일
    .str.strip()        # 앞뒤 공백 제거
    .str.upper()        # 대소문자 통일
)

print("\n=== paid_norm (정리 후) ===")
print(paid_norm)

=== paid 문자열 통일(정리 전) ===
0     TRUE
1    false
2     True
3     None
4        1
Name: paid, dtype: object

=== paid_norm (정리 후) ===
0     TRUE
1    FALSE
2     TRUE
3     <NA>
4        1
Name: paid, dtype: string

### 의미 기준으로 하나의 값으로 매핑
아주 잠깐 짚고 넘어가기



map은 Series의 각 값을 미리 정의한 "값 대응표"에 따라 치환하는 함수다. <br>
즉, "이 값이면 → 저 값으로" 라는 규칙을 적용한다.

문장구조
```python
Series.map(기존 값 → 새 값의 대응표)
```

In [75]:
paid_map = {
    "TRUE": True,  "FALSE": False,
    "Y": True,     "N": False,
    "YES": True,   "NO": False,
    "1": True,     "0": False,
    "T": True,     "F": False,
}

df_fill["paid_bool"] = paid_norm.map(paid_map)

print("\n=== paid_bool 변환 결과 ===")
print(df_fill[["paid", "paid_bool"]])

=== paid_bool 변환 결과 ===
    paid paid_bool
0   TRUE      True
1  false     False
2   True      True
3   None       NaN
4      1      True

### 매핑 실패 값은 따로 확인

In [76]:
unknown = df_fill[df_fill["paid_bool"].isna()][["paid"]]
unknown

   paid
3  None

## 5.5) 중복 데이터의 판단과 처리 (duplicated / drop_duplicates)
중복 데이터는 값이 같은지보다 의미가 같은지가 중요하다. <br>
중복을 다룰 때는 항상 두 가지를 먼저 정해야 한다.
- 어떤 컬럼 기준으로 같은 데이터인가?
- 첫 번째를 남길지, 마지막을 남길지?

중복 처리에서 기억할 것은 두 가지 옵션뿐이다.
- subset: 중복 판단 기준
- keep: first(첫 행 유지) / last(마지막 행 유지)

지금의 데이터를 예를 들어<br>
같은 날짜 + 같은 메뉴 + 같은 수량 + 같은 가격 + 같은 결제여부면 같은 주문이라고 가정한다.

In [77]:
df_fill

,date,menu_name,price,qty,paid,menu_clean,price_clean,qty_clean,paid_bool
0,2026-01-01,Latte,"5,000원",1.0,TRUE,latte,5000,1.0,True
1,2026-01-01,latte,"5,000원",1.0,false,latte,5000,1.0,False
2,2026-01-02,Americano,None,2.0,True,americano,0,2.0,True
3,None,Mocha,"5,500원",NaN,None,mocha,5500,0.0,NaN
4,2026-01-02,Americano,None,2.0,1,americano,0,2.0,True

In [ ]:
df_dup = df_fill[["date", "menu_clean", "qty_clean", "price_clean", "paid_bool"]]
key_cols = ["date", "menu_clean", "qty_clean", "price_clean", "paid_bool"]

In [79]:
print("=== 중복 여부 마스크 ===")
dup_mask = df_dup.duplicated(subset=key_cols, keep="first")
print(dup_mask)

=== 중복 여부 마스크 ===
0    False
1    False
2    False
3    False
4     True
dtype: bool

In [80]:
print("\n=== 중복 제거 전 ===")
print(df_dup)

print("\n=== 중복 제거(첫 번째 유지) ===")
dedup_first = df_dup.drop_duplicates(subset=key_cols, keep="first")
print(dedup_first)

print("\n=== 중복 제거(마지막 유지) ===")
dedup_last = df_dup.drop_duplicates(subset=key_cols, keep="last")
print(dedup_last)

=== 중복 제거 전 ===
         date menu_clean  qty_clean  price_clean paid_bool
0  2026-01-01      latte        1.0         5000      True
1  2026-01-01      latte        1.0         5000     False
2  2026-01-02  americano        2.0            0      True
3        None      mocha        0.0         5500       NaN
4  2026-01-02  americano        2.0            0      True

=== 중복 제거(첫 번째 유지) ===
         date menu_clean  qty_clean  price_clean paid_bool
0  2026-01-01      latte        1.0         5000      True
1  2026-01-01      latte        1.0         5000     False
2  2026-01-02  americano        2.0            0      True
3        None      mocha        0.0         5500       NaN

=== 중복 제거(마지막 유지) ===
         date menu_clean  qty_clean  price_clean paid_bool
0  2026-01-01      latte        1.0         5000      True
1  2026-01-01      latte        1.0         5000     False
3        None      mocha        0.0         5500       NaN
4  2026-01-02  americano        2.0            0      True

# 6. 정렬과 표 형태 유지의 중요성
이 장은 값 정제가 끝난 데이터를 점검하고, 다음 단계(선택·파생·집계)로 넘어가기 전 상태를 안정화하는 단계다. <br>
정렬과 표 형태 유지는 단순한 보기 좋음이 아니라 분석 신뢰도를 높이기 위한 작업이다.

## 6.1) 정렬이 왜 필요한가
정렬은 결과를 예쁘게 만드는 작업이 아니다.
데이터 상태를 확인하는 가장 쉬운 방법이다.

정렬을 하게 되면
- 값의 흐름이 자연스러운지
- 이상한 값이 섞여 있지 않은지
- 그룹별 비교가 가능한 상태인지

를 파악 할 수 있게 된다.


정렬은 단순히 보기 좋게 만드는 게 아닌, 우선순위를 표 위에 고정해서 의사결정이 가능하게 만드는 것이다.

In [ ]:
import pandas as pd

df = pd.DataFrame({
    "date": ["2026-01-03", "2026-01-01", "2026-01-02", "2026-01-03", "2026-01-01"],
    "menu": ["Latte", "Americano", "Mocha", "Americano", "Latte"],
    "qty":  [2, 1, 3, 1, 1],
    "price":[5000, 4500, 5500, 4500, 5000]
})

df

- 날짜 순서가 뒤죽박죽
- 같은 메뉴가 흩어져 있음
- 패턴이 잘 안 보임

**정렬 없이 보면 (의미 파악 어려움)**
> 즉 정렬이 필요한 상태

## 6.2) sort_values vs sort_index 차이(감 잡기)
정렬에는 두 가지 기준이 있다.
- sort_values → "값 기준 정렬"
- sort_index  → "인덱스 기준 정렬"

### sort_values: 값 기준 정렬
- 특정 컬럼의 값 순서로 정렬한다
- 크기 비교, 순위 확인, 이상치 점검에 사용한다

```python
# 기본 구조
df.sort_values(by="컬럼명", ascending=True)

# 여러 럴럼
df.sort_values(by=["컬럼1", "컬럼2"], ascending=[False, True])
```
- 값(column 값) 기준으로 행 순서를 정렬한다
- 랭킹, 매출순, 수량순 같은 리포트용 정렬에 사용

In [ ]:
# sort_values: 값 기준 정렬
print("=== 정렬 전 ===")
print(df)

print("\n=== 정렬 후 ===")
print(df.sort_values("price", ascending=False))

### sort_index: 인덱스 기준 정렬
- 행의 인덱스 순서로 정렬한다
- GroupBy, Pivot 결과를 정리할 때 자주 사용한다

```python
# 기본 구조
df.sort_index(ascending=True)
```
- 인덱스(행 라벨) 기준으로 순서를 정렬한다
- 날짜 인덱스, groupby 결과 정리에 자주 사용

In [ ]:
# sort_index: 인덱스 기준 정렬
print("=== 정렬 전 ===")
print(df)

print("\n=== 정렬 후 ===")
df_date_indexed = df.set_index("date")
print(df_date_indexed.sort_index())

#### (추가) groupby 결과 인덱스 정리

In [ ]:
orders = pd.DataFrame({
    "menu": ["Latte","Americano","Latte","Mocha","Mocha","Tea"],
    "qty":  [2, 1, 3, 1, 2, 4]
})
qty_sum = orders.groupby("menu")["qty"].sum()
qty_sum_sorted_by_index = qty_sum.sort_index()

print("=== 정렬 전 ===")
print(orders)

print("\n=== 정렬 후 ===")
print(qty_sum_sorted_by_index)

## 6.3) 정렬은 "검증의 단계"다
전처리 과정에서 정렬은 항상 중간 점검용으로 사용하자
- 문자열 → 숫자 변환이 잘 되었는지
- 결측치 처리 결과가 의도와 맞는지
- 범주값 통일이 제대로 되었는지

이 모든 것을 정렬 한 번으로 빠르게 확인할 수 있다.

## 6.4) “표 형태(DataFrame) 유지”가 중요한 이유
전처리와 분석에서는 표 형태(DataFrame)를 유지하는 것이 매우 중요하다.

표 형태를 유지하면 다음이 가능해진다.
- 컬럼 기반 연산이 자연스럽다
- GroupBy / Merge / Pivot이 안정적이다
- 시각화 단계로 바로 이어진다

반대로 Series로 바뀌면 생기는 문제가 있다.
- 컬럼 추가가 불편해지고
- 병합이 어려워지고
- 다음 단계 코드가 복잡해진다

때문에 항상 **결과는 항상 DataFrame으로 유지한다**

In [ ]:
# ---------------------------------------
#- 결과는 Series, 컬럼 이름이 없음
#- 다음 단계에서 불편해짐
# ---------------------------------------

menu_qty = df.groupby("menu")["qty"].sum()
menu_qty

In [ ]:
# ---------------------------------------
# DataFrame 유지, 컬럼명 존재
# 다음 연산 / 정렬 / 시각화가 쉬움
# ---------------------------------------

menu_qty_df = df.groupby("menu")[["qty"]].sum()
menu_qty_df

## 6.5) 초보자에게 추천하는 2가지 습관
이 두 가지만 습관으로 잡아도 전처리 실수에서의 실수는 크게 줄어든다.

### 습관 1) 결과를 바로 정렬한다
- 전처리 한 번
- 정렬 한 번

은 만들자마자 의도에 맞게 정렬하자. <br>

In [ ]:
# ---------------------------------------
# 요약 → 정렬까지 한 번에
# 결과 해석이 즉시 가능
# ---------------------------------------

menu_summary = (
    df.groupby("menu")[["qty", "price"]]
        .sum()
        .sort_values("qty", ascending=False)
)

menu_summary

### 습관 2) DataFrame 형태를 의식적으로 유지한다
- 지금 결과가 Series인지
- DataFrame인지

항상 한 번 더 확인하자.

In [ ]:
# ---------------------------------------
# 단일 컬럼 선택 (Series)
# df.groupby("menu")["price"].mean()
# 단일 컬럼 선택은 데이터 클리닝이 아니라면 자제하도록 하자
# ---------------------------------------

df.groupby("menu")[["price"]].mean()

# 7. 인덱싱과 조건 필터링
이 장은 값이 정리된 데이터에서 분석에 필요한 행과 컬럼만 정확히 선택하는 단계다. <br>
전처리의 후반부에서 가장 많이 실수가 발생하는 부분이기도 하다.


###### (인덱싱과 조건 필터링 둘다 목적이 같기에 하나의 장으로 묶음)

## 7.1) 인덱싱과 필터링의 역할
전처리는 전체 데이터를 예쁘게 만드는 작업이 아니다. 분석에 필요한 데이터만 남기는 작업이다. <br>
이를 위해 필요한 것이:
- 인덱싱 → 어디를 고를 것인가
- 조건 필터링 → 어떤 조건으로 고를 것인가

## 7.2) Row 선택과 Column 선택의 구분
인덱싱을 헷갈리게 만드는 가장 큰 원인은 행과 열을 구분하지 않고 생각하는 것이다.

- 행(Row) 선택<br>
→ 어떤 관측치(사건, 기록) 를 볼 것인가

- 열(Column) 선택<br>
→ 어떤 변수(속성) 를 볼 것인가

전처리 단계에서는 아래 두 질문을 항상 분리해서 판단해야 한다.
- "이 행이 분석 대상인가?"
- "이 컬럼이 분석에 필요한가?"

# 특정행에서 값 가져오는 내용 추가 필요!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

## 7.3) loc과 iloc의 차이
인덱싱은 "데이터를 고르는 행위"이다. <br>
loc과 iloc은 그 선택 기준을 라벨로 할지, 위치로 할지 결정하는 방법이다.

<br>
loc과 iloc의 차이는 단순한 문법 차이가 아니라 접근 기준의 차이다.
- loc<br>
→ 라벨(이름) 기준 접근<br>
→ 컬럼명, 인덱스명으로 선택

- iloc<br>
→ 위치(순서) 기준 접근<br>
→ 몇 번째 행, 몇 번째 열로 선택

이 차이를 이해하지 못하면 "분명 맞는 것 같은데 결과가 다르다"는 상황이 자주 발생한다.

전처리/분석 코드에서는 의도가 명확한 loc 사용이 더 안전한 경우가 많다.

In [136]:
df = pd.DataFrame(
    {"menu": ["Latte", "Americano", "Mocha", "Vanilla"],
    "price": [5000, 4500, 5500, 6000]},
    index=["A001", "A002", "A003", "A004"]
)
# 행의 이름(라벨): "A001", "A002", "A003", "A004"
# 행의 순서(위치): 0, 1, 2, 3

### .loc : 라벨(이름) 기준 조회
- loc[행 label, 열 label]
언제 쓰는가?
- 인덱스나 컬럼 이름에 의미가 있을 때
- 조건 필터링과 함께 사용할 때

핵심 특징
- 행 / 열 이름으로 접근
- 문자열 라벨 사용 가능
- 조건 필터링과 궁합이 좋음
- 슬라이싱 시 끝 라벨이 포함될 수 있음

In [137]:
# 이름이 A002인 행을 가져와라
df.loc["A002"]

menu     Americano
price         4500
Name: A002, dtype: object

In [138]:
df.loc["A001":"A003"]

           menu  price
A001      Latte   5000
A002  Americano   4500
A003      Mocha   5500

In [ ]:
# 특정 다수의 값을 고릴땐 이중대괄호를 사용해야한다.
df.loc[["A001","A003", "A004"]]

         menu  price
A001    Latte   5000
A003    Mocha   5500
A004  Vanilla   6000

### .iloc : 위치(순서) 기준 조회
언제 쓰는가?
- “위에서 몇 번째”가 중요할 때
- 데이터 구조를 빠르게 확인할 때

핵심 특징
- 정수 위치만 사용
- 파이썬 리스트 슬라이싱과 동일
- 슬라이싱 시 끝은 항상 미포함

In [83]:
# 순서가 1인 행을 가져와라
df.iloc[1]

menu     Americano
price         4500
Name: A002, dtype: object

In [84]:
# 슬라이싱은 끝을 포함하지 않기 때문에 A001~A002만 나왔다.
df.iloc[0:2]

           menu  price
A001      Latte   5000
A002  Americano   4500

In [140]:
df.iloc[[0,1,3]]

           menu  price
A001      Latte   5000
A002  Americano   4500
A004    Vanilla   6000

## 7.4) 조건 필터링의 핵심 아이디어
조건 필터링의 본질은 이것이다.
조건식은 True / False로 이루어진 마스크를 만든다. <br>
이 마스크를 이용해 행을 선택한다.
- 조건 자체
- 조건으로 선택

을 분리해서 생각해야 한다.

<br>

예를 들어 "결제가 완료된 주문만 보고 싶다"면,
- 결제 완료 → True
- 결제 실패 → False

이렇게 만든 True/False 배열이 바로 마스크다.

In [85]:
# 사용 데이터
import pandas as pd

df = pd.DataFrame({
    "order_id": [1, 2, 3, 4, 5, 6],
    "store": ["A","A","B","A","B","A"],
    "menu": ["Latte","Americano","Latte","Mocha","Latte","Latte"],
    "price": [5000, 4500, 5000, 5500, 5000, 5000],
    "paid": [True, False, True, True, False, True]
})

print("데이터프레임")
print(df)

print("\n데이터프레임.info()")
print(df.info())

데이터프레임
   order_id store       menu  price   paid
0         1     A      Latte   5000   True
1         2     A  Americano   4500  False
2         3     B      Latte   5000   True
3         4     A      Mocha   5500   True
4         5     B      Latte   5000  False
5         6     A      Latte   5000   True

데이터프레임.info()
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   order_id  6 non-null      int64
 1   store     6 non-null      object
 2   menu      6 non-null      object
 3   price     6 non-null      int64
 4   paid      6 non-null      bool
dtypes: bool(1), int64(2), object(2)
memory usage: 326.0+ bytes
None

In [86]:
mask = (df["paid"] == True)

paid_orders = df[mask]

print("=== 필터 ===")
print(mask)

print("\n=== 필터 적용 전 ===")
print(df)
print(df.shape)

print("\n=== 필터 적용 후 ===")
print(paid_orders)
print(paid_orders.shape)

=== 필터 ===
0     True
1    False
2     True
3     True
4    False
5     True
Name: paid, dtype: bool

=== 필터 적용 전 ===
   order_id store       menu  price   paid
0         1     A      Latte   5000   True
1         2     A  Americano   4500  False
2         3     B      Latte   5000   True
3         4     A      Mocha   5500   True
4         5     B      Latte   5000  False
5         6     A      Latte   5000   True
(6, 5)

=== 필터 적용 후 ===
   order_id store   menu  price  paid
0         1     A  Latte   5000  True
2         3     B  Latte   5000  True
3         4     A  Mocha   5500  True
5         6     A  Latte   5000  True
(4, 5)

## 7.5) 조건을 따로 만드는 이유
조건을 변수로 분리하면:
- 가독성이 좋아지고
- 디버깅이 쉬워지고
- 조건 재사용이 가능해진다

이 형태는 조회, 수정 모두에서 일관되게 사용 가능하다.

In [87]:
# 1. 조건에 맞는 행이 몇 개인지 바로 확인 가능
mask_paid = (df["paid"] == True)
print("조건에 맞는 행의 총 개수")
mask_paid.sum()   # True는 1로 계산됨 → 조건에 맞는 행 개수

조건에 맞는 행의 총 개수

np.int64(4)

In [88]:
# 2. 여러 조건을 조합할 때 디버깅이 쉬움
mask_storeA = (df["store"] == "A")
mask_latte  = (df["menu"] == "Latte")

mask_final = mask_paid & mask_storeA & mask_latte
mask_final

0     True
1    False
2    False
3    False
4    False
5     True
dtype: bool

In [89]:
# 3. 같은 조건을 재사용하기 쉬움
df[mask_final]
df.loc[mask_final, ["order_id", "menu", "price"]]

   order_id   menu  price
0         1  Latte   5000
5         6  Latte   5000

## 7.6) 다중 조건을 구성할때 필수 규칙
조건이 하나일 때는 괜찮지만, 두 개 이상이 되는 순간 실수가 급증한다. <br>
그래서 아래 규칙은 "이해"보다 습관처럼 쓰는 것이 중요하다.


### 규칙 1) 각 조건은 반드시 괄호로 묶는다
&와 |는 연산자 우선순위가 낮기 때문에 괄호가 없으면 조건이 의도와 다르게 묶인다.<br>
연산자 우선순위 문제를 피하기 위해 조건 하나하나를 괄호로 감싼다.
- AND → (조건1) & (조건2)
- OR → (조건1) | (조건2)
- NOT → ~(조건)

<br>

### 규칙 2) and / or 가 아니라 & / | 를 사용한다
Pandas의 조건 필터링은 파이썬의 단일 True/False가 아니라 Series 단위의 True/False 연산이다.
- and, or <br>
→ 단일 True/False 판단용
- &, |<br>
→ 판다스의 True/False 배열(필터)용

In [90]:
# AND 조건
mask_and = (df["paid"] == True) & (df["store"] == "A") & (df["menu"] == "Latte")

# OR 조건
mask_or = (df["menu"] == "Latte") | (df["menu"] == "Mocha")

# NOT 조건
mask_not = ~(df["paid"] == True)

print("=== 필터 적용 전 ===")
print(df)

print("\n=== AND 조건 ===")
print(df.loc[mask_and])

print("\n=== OR 조건 ===")
print(df.loc[mask_or])

print("\n=== NOT 조건 ===")
print(df.loc[mask_not])

=== 필터 적용 전 ===
   order_id store       menu  price   paid
0         1     A      Latte   5000   True
1         2     A  Americano   4500  False
2         3     B      Latte   5000   True
3         4     A      Mocha   5500   True
4         5     B      Latte   5000  False
5         6     A      Latte   5000   True

=== AND 조건 ===
   order_id store   menu  price  paid
0         1     A  Latte   5000  True
5         6     A  Latte   5000  True

=== OR 조건 ===
   order_id store   menu  price   paid
0         1     A  Latte   5000   True
2         3     B  Latte   5000   True
3         4     A  Mocha   5500   True
4         5     B  Latte   5000  False
5         6     A  Latte   5000   True

=== NOT 조건 ===
   order_id store       menu  price   paid
1         2     A  Americano   4500  False
4         5     B      Latte   5000  False

## 7.7) 가장 안전한 기본 형태
조건 필터링에서 실무적으로 가장 안전하고 권장되는 형태는 다음 구조다.

```python
# 행 조건은 앞에, 컬럼 선택은 뒤에
df.loc[조건, 컬럼]
```

조건 필터링의 실무 표준 문장은 이 형태다.
- 조건 → 어떤 행을 고를지
- 컬럼 → 어떤 열만 볼지

In [91]:
# 1단계 조건 생성
condition = (df["paid"] == True)

# 2단계. 컬럼 정하기 (보여줄 열)
cols = ["menu", "price"]

# 3단계. 기본 형태로 적용: 이 한 줄로 "결제 완료인 행만 + 필요한 컬럼만" 표현 가능
result = df.loc[condition, cols]


print("=== 필터 적용 전 ===")
print(df)


print("\n=== 필터 ===")
print(condition)

print("\n=== 필터 적용 후 ===")
print(result)

=== 필터 적용 전 ===
   order_id store       menu  price   paid
0         1     A      Latte   5000   True
1         2     A  Americano   4500  False
2         3     B      Latte   5000   True
3         4     A      Mocha   5500   True
4         5     B      Latte   5000  False
5         6     A      Latte   5000   True

=== 필터 ===
0     True
1    False
2     True
3     True
4    False
5     True
Name: paid, dtype: bool

=== 필터 적용 후 ===
    menu  price
0  Latte   5000
2  Latte   5000
3  Mocha   5500
5  Latte   5000

# 8. 파생 피처 생성 (전처리의 목적 지점)
이 장은 전처리의 방향이 바뀌는 지점이다. <br>
지금까지는 데이터를 "정상화"했다면, 이제는 분석에 필요한 의미를 새로 만들어내는 단계다.

## 8.1 파생 피처란 무엇인가
파생 피처(derived feature)란 기존 컬럼을 가공해서 새로 만든 컬럼이다. <br>
이 컬럼은 원본 데이터에는 없지만 분석 질문에 직접적으로 필요한 정보다

## 8.2 파생 피처는 언제 필요한가?
원본 데이터만으로 다음 상황에서 파생 피처가 필요하다.
- 원본 값 그대로는 비교 기준이 애매할 때
- 그룹 기준을 만들기 어려울 때
- 집계 질문을 바로 던질 수 없을 때

이럴때엔
- 비교 기준
- 그룹 기준
- 집계 기준

즉, "이 컬럼으로 바로 질문을 던질 수 있는가?"에 망설임이 생기면 파생 피처를 만들 시점이다.


### 기억해야할 파생 피처 포인트
파생 피처에 사용할 피처들은 기본적으로 분석 가능한 dtype 상태여야 한다.<br>
즉, 값의 정제가 어느정도 진행된 뒤에 해야하고 항상 파생 피처의 생성은 후순위 이다.

In [1]:
import pandas as pd

df = pd.DataFrame({
    "order_id": [1, 2, 3, 4, 5],
    "order_date": [ "2026-01-01", "2026-01-01", "2026-01-02", "2026-02-01", "2026-02-03"],
    "menu": ["Latte", "Americano", "Latte", "Mocha", "Latte"],
    "price": [5000, 4500, 5000, 5500, 5000],
    "qty": [1, 2, 1, 1, 3]
})

df["order_date"] = pd.to_datetime(df["order_date"]) #미리 데이트타임으로 형변환
print(df)
print("\n")
print(df.info())

   order_id order_date       menu  price  qty
0         1 2026-01-01      Latte   5000    1
1         2 2026-01-01  Americano   4500    2
2         3 2026-01-02      Latte   5000    1
3         4 2026-02-01      Mocha   5500    1
4         5 2026-02-03      Latte   5000    3


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   order_id    5 non-null      int64
 1   order_date  5 non-null      datetime64[ns]
 2   menu        5 non-null      object
 3   price       5 non-null      int64
 4   qty         5 non-null      int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 328.0+ bytes
None

### 총 금액 파생 피처
현 데이터프레임으론 주문당 매출 이라는 질문에 대답할 수 없다.<br>
때문에 price와 qty 컬럼을 사용해 파생피처 sales를 만들고자 한다.

In [102]:
df["sales"] = df["price"] * df["qty"]

print(df)
print("\n")
print(df.info())

   order_id order_date       menu  price  qty  sales
0         1 2026-01-01      Latte   5000    1   5000
1         2 2026-01-01  Americano   4500    2   9000
2         3 2026-01-02      Latte   5000    1   5000
3         4 2026-02-01      Mocha   5500    1   5500
4         5 2026-02-03      Latte   5000    3  15000


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   order_id    5 non-null      int64
 1   order_date  5 non-null      datetime64[ns]
 2   menu        5 non-null      object
 3   price       5 non-null      int64
 4   qty         5 non-null      int64
 5   sales       5 non-null      int64
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 368.0+ bytes
None

## 8.3) 날짜 파생 피처의 대표 예
날짜 데이터는 파생 피처를 만들기 가장 좋은 대상이다. <br>
대표적인 날짜 파생 피처는 다음과 같다.
- 연(year)
- 월(month)
- 요일(day of week)

이 파생 피처들은
- 시간 흐름 비교
- 주기성 분석
- 그룹화

의 기본 재료가 된다.

날짜 컬럼이 있다면 "그냥 두는 것"이 아니라 분해해서 쓰는 것이 기본이다.


### 주의사항
문자열 날짜 상태에서는 시간 분석을 할 수 없다.<br>
때문에 to_datetime로 미리 문자열을 datetime으로 바꾸자

### 사용가능한 datetime 메소드
문장 구조
```python
datetime_타입_Series.dt.속성 # datetime 접근자 (문자열 접근자 .str 생각하기)

#또는

datetime_타입_Series.dt.메소드()
``` 
- 주의사항
    - 반드시 Series여야 한다
- 속성엔 다음과 같은 값이 들어올수 있다.
    - year
    - month
    - day
    - hour 등...
- 메소드엔 다양한 키워드가 들어갈수 있다.

In [103]:
df["year"] = df["order_date"].dt.year
df["month"] = df["order_date"].dt.month
df["weekday"] = df["order_date"].dt.day_name()

df[["order_date", "year", "month", "weekday"]]

  order_date  year  month   weekday
0 2026-01-01  2026      1  Thursday
1 2026-01-01  2026      1  Thursday
2 2026-01-02  2026      1    Friday
3 2026-02-01  2026      2    Sunday
4 2026-02-03  2026      2   Tuesday

## 8.4) 파생 피처의 목적: 분석 질문을 바꾸는 힘
파생 피처의 진짜 목적은 컬럼을 늘리는 것이 아니다.
> 분석 질문을 단순하게 만드는 것이다.

파생 피처가 잘 만들어지면 분석 코드는 단순해지고, 질문은 더 구체적으로 변한다.
- "날짜별 매출" → "월별 매출"
- "개별 주문" → "메뉴별 평균 가격"
- "원본 로그" → "비교 가능한 그룹"

## 8.5) 파생 피처 생성 시 주의할 점
파생 피처는 많이 만든다고 좋은 게 아니다. 다음 기준을 항상 함께 생각해야 한다.
1. 원본 컬럼을 훼손하지 않는다<br>
→ 새 컬럼으로 만든다
2. 의미가 명확한 이름을 쓴다<br>
→ 분석 기준이 바로 보이도록
3. 필요 이상으로 만들지 않는다<br>
→ 질문이 생길 때 만든다

파생 피처는 많을수록 좋은 게 아니라 목적에 맞을수록 좋다

# 9. 데이터 결합 (merge / join / concat)
이 장은 하나의 테이블로는 부족해지는 순간을 다룬다. <br>
분석이 깊어질수록 데이터는 반드시 "붙이는 단계"를 거친다.

## 9.1) 데이터 결합이 필요한 이유
현실의 데이터는 하나의 테이블에 전부 담기지 않는다.<br>
보통 데이터는 다음처럼 나뉘어 있다.
- 거래/로그 테이블 → 언제, 무엇을 했는가
- 기준/마스터 테이블 → 그 값이 무엇을 의미하는가

분석을 하려면 이 정보들을 하나의 기준으로 연결해야 한다.

## 9.2) merge의 핵심 개념
```python
왼쪽_데이터프레임.merge(
    오른쪽_데이터프레임,
    on="공통_키",
    how="결합_방식")

```

merge는 공통 키(key)를 기준으로 테이블을 옆으로 붙인다.<br>
그래서 키 선택이 틀리면 에러 없이 실행되어도 결과 전체가 틀어질 수 있다.


핵심 포인트
- 행을 늘리는 게 아니다.
- 컬럼을 늘리는 작업이다.

In [2]:
import pandas as pd

orders = pd.DataFrame([
    {"order_id": 1, "date": "2026-01-01", "menu": "Latte",     "sales": 5000, "customer_id": "C01"},
    {"order_id": 2, "date": "2026-01-01", "menu": "Americano", "sales": 4500, "customer_id": "C02"},
    {"order_id": 3, "date": "2026-01-02", "menu": "Cake",      "sales": 6000, "customer_id": "C03"},
])

menu_map = pd.DataFrame([
    {"menu": "Latte",     "category": "Coffee"},
    {"menu": "Americano", "category": "Coffee"},
    # Cake는 매핑 누락 상태
])

customers = pd.DataFrame([
    {"customer_id": "C01", "city": "Suwon",  "grade": "VIP"},
    {"customer_id": "C02", "city": "Yongin", "grade": "NEW"},
    {"customer_id": "C03", "city": "Suwon",  "grade": "NORMAL"},
])
print("주문 로그 데이터")
print(orders)

print("\n 메뉴 정보 데이터")
print(menu_map)

print("\n 고객 정보 데이터")
print(customers)

주문 로그 데이터
   order_id        date       menu  sales customer_id
0         1  2026-01-01      Latte   5000         C01
1         2  2026-01-01  Americano   4500         C02
2         3  2026-01-02       Cake   6000         C03

 메뉴 정보 데이터
        menu category
0      Latte   Coffee
1  Americano   Coffee

 고객 정보 데이터
  customer_id    city   grade
0         C01   Suwon     VIP
1         C02  Yongin     NEW
2         C03   Suwon  NORMAL

In [3]:
merged = orders.merge(
    menu_map,
    on="menu",
    how="left"
)

print(merged)

   order_id        date       menu  sales customer_id category
0         1  2026-01-01      Latte   5000         C01   Coffee
1         2  2026-01-01  Americano   4500         C02   Coffee
2         3  2026-01-02       Cake   6000         C03      NaN

orders를 기준으로
- menu를 키로
- menu_map의 category를 붙인다

merge의 결과로
- orders에는 없던 category 컬럼이 생긴다
- Cake처럼 매핑이 없는 값은 결측값이 된다

## 9.3) how 옵션의 의미
how는 결합 후에 어떤 행(row)을 남길지 결정하는 옵션이다. <br>
how = “기준을 어디에 두고 행을 남길 것인가”

- left<br>
→ 왼쪽 테이블의 행은 전부 유지

- inner<br>
→ 양쪽 테이블에 모두 존재하는 키만 유지

- outer<br>
→ 양쪽 테이블의 모든 행을 유지

### left — 왼쪽(원본) 유지 [LEFT JOIN]

```python
왼쪽.merge(오른쪽, on=키, how="left")

```
- 왼쪽 데이터프레임의 행은 전부 유지
- 오른쪽에 매핑이 없으면 NaN

언제 사용하나?
- 실무에서 가장 많이 쓰는 옵션
- 원본 로그는 보존하고
- 매핑 누락을 NaN으로 확인할 때

In [4]:
left_join = orders.merge(menu_map, on="menu", how="left")

print("주문 로그 데이터")
print(orders)

print("\n 메뉴 정보 데이터")
print(menu_map)

print("\n 주문 로그+ 메뉴 정보 데이터 (LEFT)")
print(left_join)

주문 로그 데이터
   order_id        date       menu  sales customer_id
0         1  2026-01-01      Latte   5000         C01
1         2  2026-01-01  Americano   4500         C02
2         3  2026-01-02       Cake   6000         C03

 메뉴 정보 데이터
        menu category
0      Latte   Coffee
1  Americano   Coffee

 주문 로그+ 메뉴 정보 데이터 (LEFT)
   order_id        date       menu  sales customer_id category
0         1  2026-01-01      Latte   5000         C01   Coffee
1         2  2026-01-01  Americano   4500         C02   Coffee
2         3  2026-01-02       Cake   6000         C03      NaN

### inner — 양쪽에 모두 있는 것만 [INNER JOIN]
```python
왼쪽.merge(오른쪽, on=키, how="inner")

```
- 양쪽 테이블에 공통으로 존재하는 키만 남김
- 매핑 안 되는 행은 아예 제거됨

언제 사용하나?
- 매핑이 제대로 됐는지
- 정합성 확인할 때

In [5]:
inner_join = orders.merge(menu_map, on="menu", how="inner")

print("주문 로그 데이터")
print(orders)

print("\n 메뉴 정보 데이터")
print(menu_map)

print("\n 주문 로그+ 메뉴 정보 데이터 (INNER)")
print(inner_join)

주문 로그 데이터
   order_id        date       menu  sales customer_id
0         1  2026-01-01      Latte   5000         C01
1         2  2026-01-01  Americano   4500         C02
2         3  2026-01-02       Cake   6000         C03

 메뉴 정보 데이터
        menu category
0      Latte   Coffee
1  Americano   Coffee

 주문 로그+ 메뉴 정보 데이터 (INNER)
   order_id        date       menu  sales customer_id category
0         1  2026-01-01      Latte   5000         C01   Coffee
1         2  2026-01-01  Americano   4500         C02   Coffee

### outer — 전체 합치기
```python
왼쪽.merge(오른쪽, on=키, how="outer")

```
- 양쪽 테이블의 모든 행을 전부 유지
- 한쪽에만 있으면 NaN

언제 사용하나?
- 어느 쪽에만 있는 값이 있는지
- 누락 / 신규 항목 탐색할 때

In [6]:
outer_join = orders.merge(menu_map, on="menu", how="outer")

print("주문 로그 데이터")
print(orders)

print("\n 메뉴 정보 데이터")
print(menu_map)

print("\n 주문 로그+ 메뉴 정보 데이터 (outer)")
print(outer_join)

주문 로그 데이터
   order_id        date       menu  sales customer_id
0         1  2026-01-01      Latte   5000         C01
1         2  2026-01-01  Americano   4500         C02
2         3  2026-01-02       Cake   6000         C03

 메뉴 정보 데이터
        menu category
0      Latte   Coffee
1  Americano   Coffee

 주문 로그+ 메뉴 정보 데이터 (outer)
   order_id        date       menu  sales customer_id category
0         2  2026-01-01  Americano   4500         C02   Coffee
1         3  2026-01-02       Cake   6000         C03      NaN
2         1  2026-01-01      Latte   5000         C01   Coffee

## 9.4) merge vs join vs concat
이 세 개는 목적이 다르다.

1. merge → 키 기준 옆으로 붙이기
2. join → 인덱스 기준 결합 (merge의 축약형)
3. concat → 위아래로 이어 붙이기

전처리·분석 단계에서는 merge가 표준이다.

## 10.5) 결합 후 반드시 해야하는것
데이터 결합이 끝났다고 바로 분석하면 위험하다.<br>

반드시 확인해야 할 것
- 매핑되지 않은 행이 있는가?
- 예상보다 행 수가 늘거나 줄지 않았는가?
- NaN이 갑자기 늘지 않았는가?

이를 확인하기 위한 가장 좋은 도구가 indicator 옵션이다.

indicator를 사용하면 각 행이 어떤 방식으로 결합되었는지 한눈에 알 수 있다.
- 왼쪽에만 있던 행
- 오른쪽에만 있던 행
- 정상적으로 매칭된 행

결합 결과에서 "어디서 문제가 생겼는지"를 바로 확인할 수 있다.

In [7]:
check = orders.merge(
    menu_map,
    on="menu",
    how="left",
    indicator=True
)

missing = check[check["_merge"] == "left_only"]
print(missing[["menu", "order_id"]])

   menu  order_id
2  Cake         3

In [8]:
check

   order_id        date       menu  sales customer_id category     _merge
0         1  2026-01-01      Latte   5000         C01   Coffee       both
1         2  2026-01-01  Americano   4500         C02   Coffee       both
2         3  2026-01-02       Cake   6000         C03      NaN  left_only

indicator의 의미
- both → 양쪽에 있음 → 정상적으로 매핑된 데이터
- left_only → 왼쪽에만 있음 (매핑 누락)
- right_only → 오른쪽에만 있음 → 현재 분석 대상에는 없는 데이터

# 10. 그룹화와 요약 테이블 만들기
이 장은 전처리의 결과를 "비교 가능한 표"로 바꾸는 단계다.<br>
원본 데이터(로그)는 사건 단위라서 그대로는 비교가 어렵다.<br>
그래서 기준을 세우고 집계해서 요약 테이블을 만든다.

## 10.1) 원본 로그와 요약 테이블의 차이
원본 로그는 보통:
- 주문 1건
- 방문 1회
- 클릭 1번

같은 사건 단위로 쌓인다.

하지만 분석에서 원하는 건:
- 날짜별 매출
- 매장별 매출
- 메뉴별 매출

분석은 원본 로그를 그대로 읽는 게 아니라, 요약 테이블을 통해 패턴을 비교하는 과정이다. <br>
요약 테이블은 분석 질문에 답하기 위한 형태다.

## 10.2) GroupBy의 역할
GroupBy의 역할은 한 문장으로 정리할 수 있다.
- 기준을 나누고, 각 그룹을 집계한다.

여기서 핵심은 두 가지다.
- 기준이 무엇인가? (date / store / menu 등)
- 무엇을 집계할 것인가? (sales 합계 / 평균 등)


GroupBy는 요약 테이블을 만드는 가장 기본 도구다.

## 10.3) GroupBy 문장 구조 (기본 문법)
```python
# 단일 기준 + 단일 컬럼 집계
df.groupby(기준)[값컬럼].집계함수()

# 다중 기준 + 단일 컬럼 집계
df.groupby([기준1, 기준2])[값컬럼].집계함수()

# 기준으로 나눈 뒤 여러 집계를 한 번에
df.groupby(기준).agg({...})

```

### 짚고넘어가기: 기간 단위 기준 만들기: to_period
```python
df["date"].dt.to_period("M")

```
- 날짜를 일정한 기간 단위(월, 분기 등)로 묶기 위한 변환
    - "M": 월 단위
    - "Q": 분기 단위
    - "Y": 연 단위

In [9]:
import pandas as pd

df = pd.DataFrame([
    {"date": "2026-01-01", "store": "광교점", "menu": "Americano", "sales": 9000},
    {"date": "2026-01-01", "store": "광교점", "menu": "Latte",     "sales": 5000},
    {"date": "2026-01-02", "store": "광교점", "menu": "Latte",     "sales": 5000},
    {"date": "2026-01-03", "store": "수원점", "menu": "Americano", "sales": 4500},
    {"date": "2026-01-03", "store": "수원점", "menu": "Mocha",     "sales": 5500},
])

df["date"] = pd.to_datetime(df["date"])
df["ym"] = df["date"].dt.to_period("M").astype(str)

store_report = df.groupby("store")["sales"].sum().reset_index(name="total_sales")
menu_report = df.groupby("menu")["sales"].mean().reset_index(name="avg")


print("원본 로그(주문 1건 단위):")
print(df)

print("\n매장 단위 요약(매장별 매출 합계):")
print(store_report)

print("\n메뉴 단위 요약(메뉴별 매출 합계):")
print(menu_report)

원본 로그(주문 1건 단위):
        date store       menu  sales       ym
0 2026-01-01   광교점  Americano   9000  2026-01
1 2026-01-01   광교점      Latte   5000  2026-01
2 2026-01-02   광교점      Latte   5000  2026-01
3 2026-01-03   수원점  Americano   4500  2026-01
4 2026-01-03   수원점      Mocha   5500  2026-01

매장 단위 요약(매장별 매출 합계):
  store  total_sales
0   광교점        19000
1   수원점        10000

메뉴 단위 요약(메뉴별 매출 합계):
        menu     avg
0  Americano  6750.0
1      Latte  5000.0
2      Mocha  5500.0

## 10.4) 집계 함수(aggregation) 핵심 5종
실무에서 사용하는 집계 함수는 생각보다 종류가 많지 않다.<br>
아래 다섯 가지만 제대로 쓰면 대부분의 요약 테이블을 만들 수 있다.

- sum: 총합 (총매출, 총수량)
- mean: 평균 (평균 매출, 평균 수량, 성공률)
- count: 개수 (주문 건수 = 행 개수)
- nunique: 고유값 개수 (고유 메뉴 수, 고유 고객 수)
- min / max: 최소/최대 (최소/최대 수량, 최대 매출 등)

중요한 건 "함수를 많이 아는 것"이 아니라 지금 어떤 질문을 하고 있는가다.

### agg란?
GroupBy 결과에 집계 함수 하나만 쓰는 경우는 드물다.<br>
대부분은
- 합계도 보고 싶고
- 평균도 보고 싶고
- 개수도 같이 보고 싶다.

이럴 때 필요한 게 agg다.

여러 집계를 한 번에, 명시적으로 관리할 수 있어 요약 테이블의 구조가 예측 가능해지고, 이후 후처리도 훨씬 쉬워진다.

In [111]:
import pandas as pd

df = pd.DataFrame([
    {"store": "광교점", "menu": "Americano", "qty": 2, "sales": 9000, "paid": True},
    {"store": "광교점", "menu": "Latte",     "qty": 1, "sales": 5000, "paid": True},
    {"store": "광교점", "menu": "Latte",     "qty": 2, "sales": 0,    "paid": False},
    {"store": "수원점", "menu": "Americano", "qty": 1, "sales": 4500, "paid": True},
    {"store": "수원점", "menu": "Mocha",     "qty": 1, "sales": 0,    "paid": False},
])

summary = df.groupby("store").agg(
    total_sales=("sales", "sum"),
    avg_sales=("sales", "mean"),
    orders=("menu", "count"),
    unique_menus=("menu", "nunique"),
    min_qty=("qty", "min"),
    max_qty=("qty", "max"),
    paid_rate=("paid", "mean"),
).reset_index()

print("사용한 집계 함수 출력")
print(summary)

사용한 집계 함수 출력
  store  total_sales    avg_sales  orders  unique_menus  min_qty  max_qty  \
0   광교점        14000  4666.666667       3             2        1        2
1   수원점         4500  2250.000000       2             2        1        1

   paid_rate
0   0.666667
1   0.500000

## 11.4) MultiIndex가 뭐고 왜 불편한가?
GroupBy 결과는 종종 인덱스가 여러 단계로 생긴다. (MultiIndex) <br>
- 컬럼 접근이 복잡해진다
- 후처리(정렬, 병합, 피벗)가 불편해진다

그래서 요약 테이블을 만들 때는 보통:
- reset_index()로 인덱스를 컬럼으로 되돌리거나
- 이후 피벗으로 넓은 형태로 바꾸는 흐름으로 간다

In [112]:
df.groupby("menu")["sales"].agg(["sum", "mean", "count"])
# 이렇게 되면 컬럼 접근이 불편해지고 rename / merge / 시각화에서 귀찮아진다.

             sum    mean  count
menu
Americano  13500  6750.0      2
Latte       5000  2500.0      2
Mocha          0     0.0      1

In [113]:
summary = df.groupby("store").agg(
    total_sales=("sales", "sum"),
    avg_sales=("sales", "mean"),
    orders=("menu", "count"),
).reset_index()
summary
# 그래서 실무에서는 이런식으로 컬럼명을 직접 지정하는 agg 형태를 더 선호한다.

  store  total_sales    avg_sales  orders
0   광교점        14000  4666.666667       3
1   수원점         4500  2250.000000       2

# 11) 피벗(표 형태 변환) 이론: 리포트용 표 만들기
이 장은 요약된 데이터를 “보는 사람 기준의 표”로 바꾸는 단계다. <br>
GroupBy로 계산은 끝났고, 이제는 형태를 바꿔서 한눈에 보이게 만든다.

## 11.1) 피벗이 필요한 순간
GroupBy 결과는 보통 이런 형태다.
- 기준 컬럼이 여러 개
- 행이 길게 늘어짐
- 비교하려면 눈으로 계산해야 함

이 상태는 계산에는 적합하지만 보고서·시각화에는 불편하다.

이때 필요한 게 피벗이다.<br>
피벗은 데이터를 계산하기 위해 쓰는 도구가 아닌, 결과를 정리하기 위해 쓰는 도구다.

In [114]:
import pandas as pd

# 예시 데이터(일부 조합이 반복되도록 일부러 2행 넣음: 2026-01 + Mon)
df = pd.DataFrame([
    {"ym": "2026-01", "day": "Mon", "sales": 100},
    {"ym": "2026-01", "day": "Mon", "sales": 50},   # 같은 조합이 2개라서 pivot이 바로 안 됨
    {"ym": "2026-01", "day": "Tue", "sales": 80},
    {"ym": "2026-02", "day": "Mon", "sales": 120},
    # 2026-02의 Tue가 없어서 피벗 후 NaN이 생길 수 있음
])

print("원본(long 형태)")
df

원본(long 형태)

        ym  day  sales
0  2026-01  Mon    100
1  2026-01  Mon     50
2  2026-01  Tue     80
3  2026-02  Mon    120

이 상태에서 바로 매장 비교도 어렵고, 메뉴별 비교도 한눈에 볼수 없다.

## 12.2) 긴 형태(long) → 넓은 형태(wide)
피벗을 이해하려면 데이터의 "형태"부터 이해해야 한다.

### 긴 형태 (long)
- 기준 컬럼이 여러 개
- 행이 많고 세로로 길다
- GroupBy 결과가 대표적이다

특징:
- 계산·집계에 유리
- 비교에는 불리

대부분의 원본 데이터와 GroupBy 결과는 long 형태다.

### 넓은 형태 (wide)
- 하나의 기준이 행
- 다른 기준이 열
- 값이 셀에 들어간다

특징:
- 비교·보고에 유리
- 시각화에 바로 사용 가능

피벗의 역할은 long 형태를 wide 형태로 바꾸는 것이다.

```python
데이터프레임.pivot(
    index="행 기준",
    columns="열 기준",
    values="값"
)

In [115]:
# 1단계: 먼저 요약 (칸당 값 1개 만들기)
summary = (
    df.groupby(["ym", "day"])["sales"]
    .sum()
    .reset_index()
)

print("\nGroupBy 요약 결과")
print(summary)

# 2단계: pivot으로 표 설계
report = summary.pivot(
    index="ym",
    columns="day",
    values="sales"
)

print("\npivot 결과")
print(report)

# 즉, pivot은 표 설계 도구다
# "이걸 행으로, 이걸 열로, 이 값을 채운다"라고 말하는 방식이다

GroupBy 요약 결과
        ym  day  sales
0  2026-01  Mon    150
1  2026-01  Tue     80
2  2026-02  Mon    120

pivot 결과
day        Mon   Tue
ym
2026-01  150.0  80.0
2026-02  120.0   NaN

## 11.3) pivot vs unstack은 뭐가 다른가?
pivot과 unstack은 결과는 비슷해 보이지만 출발점이 다르다.

pivot
- DataFrame 상태에서 사용
- index / columns / values를 직접 지정
- 이미 집계가 끝난 데이터에 적합

요약된 테이블을 다시 배치하는 용도

<br>

unstack
- GroupBy 결과에서 사용
- 인덱스 레벨을 열로 올린다
- MultiIndex를 다룰 때 등장한다

GroupBy 결과를 표로 펼치는 용도

<br>

무엇을 쓰느냐 보단 지금 데이터가<br>
DataFrame인가, GroupBy 결과 인가가 더 중요하다.

In [116]:
# GroupBy 결과 (MultiIndex Series)
multi = df.groupby(["ym", "day"])["sales"].sum()

print("\nGroupBy 결과 (MultiIndex)")
print(multi)

# unstack으로 인덱스 레벨을 열로 펼침
wide = multi.unstack()

print("\nunstack 결과")
print(wide)
# 즉, unstack은 이미 만들어진 구조를 펼치는 도구다

GroupBy 결과 (MultiIndex)
ym       day
2026-01  Mon    150
         Tue     80
2026-02  Mon    120
Name: sales, dtype: int64

unstack 결과
day        Mon   Tue
ym
2026-01  150.0  80.0
2026-02  120.0   NaN

## 11.4) 피벗에서 자주 만나는 실수 포인트 2개
피벗은 문법보다 데이터 상태를 이해하지 못해서 실패하는 경우가 많다.

In [117]:
import pandas as pd

df = pd.DataFrame([
    {"date": "2026-01-01", "menu": "Americano", "store": "광교점", "sales": 9000},
    {"date": "2026-01-02", "menu": "Latte",     "store": "광교점", "sales": 5000},
    {"date": "2026-01-03", "menu": "Latte",     "store": "수원점", "sales": 5000},
    {"date": "2026-01-06", "menu": "Americano", "store": "광교점", "sales": 4500},
    {"date": "2026-02-03", "menu": "Mocha",     "store": "수원점", "sales": 5500},
])

df["date"] = pd.to_datetime(df["date"])
df

        date       menu store  sales
0 2026-01-01  Americano   광교점   9000
1 2026-01-02      Latte   광교점   5000
2 2026-01-03      Latte   수원점   5000
3 2026-01-06  Americano   광교점   4500
4 2026-02-03      Mocha   수원점   5500

### ① 값이 여러 개라서 피벗이 안 되는 경우
같은 (index, columns) 조합에 값이 여러 개 있으면 pivot은 동작하지 않는다.
- 아직 집계가 안 됐거나
- 집계 기준이 부족한 상태

해결법은 2가지가 있다.
1. GroupBy로 집계한다. (groupby + unstack)
2. pivot_table 을 사용한다.

In [118]:
menu_store_sales = (
    df.groupby(["menu", "store"])["sales"]
    .sum()
    .reset_index()
)

menu_store_sales.pivot(
    index="menu",
    columns="store",
    values="sales"
)

print("GroupBy를 한 피봇")
menu_store_sales

GroupBy를 한 피봇

        menu store  sales
0  Americano   광교점  13500
1      Latte   광교점   5000
2      Latte   수원점   5000
3      Mocha   수원점   5500

In [119]:
report = df.pivot_table(
    index="menu",
    columns="store",
    values="sales",
    aggfunc="sum"
)

print("pivot_table을 사용한 피봇")
report

pivot_table을 사용한 피봇

store          광교점     수원점
menu
Americano  13500.0     NaN
Latte       5000.0  5000.0
Mocha          NaN  5500.0

### ② 빈 칸(NaN)이 생기는 것
피벗 결과에 NaN이 생긴다는 건 해당 조합의 데이터가 없다는 뜻이다.

이건 오류가 아니라:
- 데이터의 구조적 특성
- 혹은 매핑 누락 신호다

분석 전에:
- 그대로 둘지
- 0으로 채울지
- 제외할지

의미를 먼저 판단해야 한다.

In [120]:
df

        date       menu store  sales
0 2026-01-01  Americano   광교점   9000
1 2026-01-02      Latte   광교점   5000
2 2026-01-03      Latte   수원점   5000
3 2026-01-06  Americano   광교점   4500
4 2026-02-03      Mocha   수원점   5500

In [121]:
pivot_result = df.pivot_table(
    index="menu",
    columns="store",
    values="sales",
    aggfunc="sum"
)

print("GroupBy를 한 피봇.fillna")
pivot_result.fillna(0)

GroupBy를 한 피봇.fillna

store          광교점     수원점
menu
Americano  13500.0     0.0
Latte       5000.0  5000.0
Mocha          0.0  5500.0

보강: 날짜 × 매장 피벗 (리포트용)

In [122]:
date_store_sales = (
    df.groupby(["date", "store"], )["sales"]
    .sum()
    .reset_index()
)

date_store_sales.pivot(    
    index="date",
    columns="store",
    values="sales").fillna(0)

store          광교점     수원점
date
2026-01-01  9000.0     0.0
2026-01-02  5000.0     0.0
2026-01-03     0.0  5000.0
2026-01-06  4500.0     0.0
2026-02-03     0.0  5500.0

In [123]:
df.pivot_table(
    index="date",
    columns="store",
    values="sales",
    aggfunc="sum"
).fillna(0)

store          광교점     수원점
date
2026-01-01  9000.0     0.0
2026-01-02  5000.0     0.0
2026-01-03     0.0  5000.0
2026-01-06  4500.0     0.0
2026-02-03     0.0  5500.0

# 12. apply vs map
이 장은 전처리의 마지막 카드를 다룬다. <br>
대부분의 전처리는 연산(map, 문자열 메서드, 조건 필터링)으로 끝나야 한다.<br>
그게 안 될 때만 apply를 쓴다.

## 12.1) map의 용도 — 값 → 값 치환
map은 "각 값을 다른 값으로 바꾼다." 한 문장으로 정의된다.
- 입력 값 1개 → 출력 값 1개
- 조건 분기 없음
- 미리 정해진 대응표(딕셔너리)를 사용

<br>

그래서 map은:
- 범주값 통일
- 코드 → 의미
- 의미 → bool

같은 치환 작업에 최적이다.

### 코드로 살펴보자
``` python
Series.map(매핑규칙)

```
이 Series의 각 값을 이 규칙에 따라 다른 값으로 바꿔라

In [124]:
import pandas as pd

df = pd.DataFrame({
    "channel": ["kiosk", "app", "kiosk", "web"]
})

channel_map = {
    "kiosk": "키오스크",
    "app": "앱",
    "web": "웹"
}
print("매핑 전")
print(df)

# channel 컬럼의 값들을 channel_map 기준으로 그대로 치환한다
df["channel_name"] = df["channel"].map(channel_map)
print("\n  매핑 후")
print(df)

매핑 전
  channel
0   kiosk
1     app
2   kiosk
3     web

  매핑 후
  channel channel_name
0   kiosk         키오스크
1     app            앱
2   kiosk         키오스크
3     web            웹

### 자주하는 실수포인트
- 매핑표에 없는 값은 NaN이 된다
- 그래서 항상 누락을 한 번 확인하는 게 좋다

In [125]:
missing = df[df["channel_name"].isna()]
print(missing)

Empty DataFrame
Columns: [channel, channel_name]
Index: []

## 12.2) apply의 용도 — 규칙 기반 판단
apply는 성격이 완전히 다르다. <br>
한 줄의 규칙으로 안 되는 로직을 적용한다

특징:
- if / else 같은 조건 분기 가능
- 여러 컬럼을 동시에 참고 가능
- 결과는 자유도가 높다

그래서 apply는:
- 복합 조건 판단
- 점수 등급 계산
- 상태 판정

같은 규칙 기반 처리에 사용한다.

### 코드로 살펴보자
```python
# 값 하나씩 처리
Series.apply(함수)

# 행 단위 처리 (여러 컬럼 참조)
DataFrame.apply(함수, axis=1)
```

In [126]:
import pandas as pd

df = pd.DataFrame({"sales": [0, 3000, 12000]})

def grade_sales(x):
    if x == 0:
        return "C"
    elif x < 10000:
        return "B"
    else:
        return "A"

df["grade"] = df["sales"].apply(grade_sales)
print(df)

   sales grade
0      0     C
1   3000     B
2  12000     A

In [127]:
import pandas as pd

df = pd.DataFrame([
    {"sales": 12000, "paid": True},
    {"sales": 5000,  "paid": True},
    {"sales": 8000,  "paid": False},
])


def final_label(row):
    if row["paid"] is False:
        return "FAIL"
    if row["sales"] >= 10000:
        return "A"
    return "B"


print("행 단위")
df["label"] = df.apply(final_label, axis=1)
print(df)

행 단위
   sales   paid label
0  12000   True     A
1   5000   True     B
2   8000  False  FAIL

### apply 사용 시 주의점
apply는 강력하지만 주의해서 사용해야 한다.
- 처리 속도가 느리다
- 코드가 길어지고 복잡해지기 쉽다
- 벡터화된 Pandas 연산의 장점을 잃는다

그래서 apply는 가장 먼저 쓰는 도구가 아니라, 마지막에 선택하는 도구다.

## 12.3) 선택 기준 요약
apply와 map의 선택 기준은 아주 간단하게 정리할 수 있다.

이 작업은 "값 치환"인가, "규칙 판단"인가?
- 값 → 값 치환이면 map
- 판단·조건·계산 로직이 필요하면 apply

# 13. 파일 입출력과 작업 마무리

13. 파일 입출력과 작업 마무리

## 13.1) 파일 입출력이 중요한 이유
전처리는 일회성 작업이 아니라 재사용을 전제로 한 작업이다.<br>
분석에서 파일 입출력은 단순한 저장 기능이 아니다.
- 전처리 결과를 보존한다
- 분석 / 시각화 / 리포트 단계와 작업을 분리하기 위해
- 팀원 또는 미래의 나와 결과를 공유하기 위해

파일 저장은 분석의 부수 작업이 아닌 분석 과정의 일부다.

## 13.2) 파일 형식 선택 기준
파일 형식은 편한 것이 아닌 사용 목적에 따라 선택해야 한다.

In [128]:
import os
os.makedirs("data", exist_ok=True)

### CSV
분석 결과를 전달한다 → CSV가 기본 선택이다.
- 가장 단순한 표 형태
- 거의 모든 도구에서 읽을 수 있음
- 분석 결과 공유용으로 가장 많이 사용

In [129]:
csv_path = "data/sales.csv"

df.to_csv(csv_path, index=False, encoding="utf-8-sig")
df_csv = pd.read_csv(csv_path)

# index=False
# 인덱스가 의미 있는 데이터가 아니라면 파일에 저장하지 않는다.

# encoding="utf-8-sig"
# 엑셀에서 한글이 깨지는 문제를 줄이기 위해서 변경

### Excel (xlsx)
"사람이 직접 본다" → Excel이 편하다.
- 사람이 직접 열어보는 용도
- 보고용, 검토용 데이터에 적합
- 여러 시트를 사용할 수 있음

In [130]:
excel_path = "data/sales.xlsx"

df.to_excel(excel_path, index=False)
df_xlsx = pd.read_excel(excel_path)

### JSON
"시스템 간 데이터 교환"→ JSON을 쓴다.
- 구조화된 데이터 형식
- API, 서비스 연동, 로그 저장에 자주 사용
- 테이블보다는 데이터 구조 전달에 강함

In [131]:
json_path = "data/sales.json"

df.to_json(
    json_path,
    orient="records",
    force_ascii=False,
    indent=2
)
df_json = pd.read_json(json_path)

#### orient="records"?

이 옵션은 JSON을 다음 형태로 만든다.

```json
[
  {"date": "2026-01-01", "menu": "아메리카노", "sales": 9000},
  {"date": "2026-01-02", "menu": "라떼", "sales": 5000}
]
```

## 13.3) 저장 전에 반드시 점검할 체크리스트
- 이 테이블로 바로 GroupBy가 가능한가?
- 피벗이나 시각화를 바로 할 수 있는가?
- 컬럼 이름만 보고 의미가 전달되는가?

이 질문에 모두 "예"라고 답할 수 있을 때 저장한다.

전처리 마무리를 짓는다.